:root {
  --blue: #567add;
  --green: #62d85e;
  --red: #ca2b2b;
  --white: #f3f3f3;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bg-green {
  background-color: var(--green);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-red {
  background-color: var(--red);
}

.btn {
  border-radius: 0.5rem;
}

.btn > i {
  padding: 0.5rem;
  color: var(--white);
}

.w-3 {
  width: 3rem;;
}

.w-2 {
  width: 2rem;
}

.w-1 {
  width: 1rem;
}
